In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load Data

In [4]:
df = pd.read_csv("../raw_data/NFL_League_Master.csv")
df.head()

,Unnamed: 0,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,0,Los Angeles Chargers,1,15,0,0.063,269,440,-171,1 - 7 - 0,0 - 8 - 0,1 - 7 - 0,0.125,1 - 11 - 0,0.083,0 - 4 - 0,4L,1 - 4 - 0,2000
1,1,Arizona Cardinals,3,13,0,0.188,210,443,-233,3 - 5 - 0,0 - 8 - 0,2 - 6 - 0,0.250,2 - 10 - 0,0.167,1 - 3 - 0,7L,0 - 5 - 0,2000
2,2,Cleveland Browns,3,13,0,0.188,161,419,-258,2 - 6 - 0,1 - 7 - 0,2 - 8 - 0,0.200,3 - 10 - 0,0.231,0 - 3 - 0,5L,0 - 5 - 0,2000
3,3,Atlanta Falcons,4,12,0,0.250,252,413,-161,3 - 5 - 0,1 - 7 - 0,3 - 5 - 0,0.375,3 - 9 - 0,0.250,1 - 3 - 0,1W,1 - 4 - 0,2000
4,4,Cincinnati Bengals,4,12,0,0.250,185,359,-174,3 - 5 - 0,1 - 7 - 0,2 - 8 - 0,0.200,3 - 10 - 0,0.231,1 - 2 - 0,1L,2 - 3 - 0,2000

## Format of the data:

- Wins, Losses and Ties per Team per Season from 2000 to 2021
- We only need Year, NFL Team, W, L, T columns

## Preprocessing

## Create new dataframe with desired output

In [6]:
df_nfl_data = pd.DataFrame(columns=["Year", "Teams", "Wins", "Losses", "Ties", "#Games"])

In [7]:
grouped = df.groupby('Year')

for name, group in grouped:
    teams = group['NFL Team'].tolist()
    wins = group['W'].tolist()
    losses = group['L'].tolist()
    ties = group['T'].tolist()

    ngames = wins[0]+losses[0]+ties[0]
    # concat to the dataframe

    df_tmp = pd.Series({"Year": name, "Teams": teams, "Wins": wins, "Losses": losses, "Ties": ties, "#Games": ngames}).to_frame().T
    df_nfl_data = pd.concat([df_nfl_data ,df_tmp])

In [9]:
# Save the data
df_nfl_data.to_parquet("../prepared_data/NFL_data.parquet", index=False)