In [1]:
import pandas as pd
import numpy as np

# Load Data

In [2]:
df = pd.read_csv("../../raw_data/MLB/MLB_scrapped.csv")
df.head()

,W,L,PCT,GB,HOME,AWAY,RS,RA,DIFF,STRK,L10,Team,Year
0,101,61,0.623,-,50-32,51-29,877,716,161,W2,7-3,* -- NYY New York Yankees,2003
1,101,61,0.623,-,55-26,46-35,907,740,167,W1,7-3,* -- ATL Atlanta Braves,2003
2,100,61,0.621,0.5,57-24,43-37,755,638,117,W2,7-3,x -- SF San Francisco Giants,2003
3,96,66,0.593,5,57-24,39-42,768,643,125,L3,5-5,x -- OAK Oakland Athletics,2003
4,95,67,0.586,6,53-28,42-39,962,809,153,L2,6-4,y -- BOS Boston Red Sox,2003

## Format of the data:

- Wins, Losses and Ties per Team per Season from 1876 to 2016
- We only need Year, Tm , W, L, Ties columns

## Preprocessing

## Create new dataframe with desired output

In [3]:
df_mlb_data = pd.DataFrame(
    columns=["Year", "Teams", "Wins", "Losses", "Ties", "#Games"]
)

In [4]:
grouped = df.groupby("Year")

for name, group in grouped:
    teams = group["Team"].tolist()
    wins = group["W"].tolist()
    losses = group["L"].tolist()
    ties = [0 for i in range(len(wins))]

    ngames = wins[0] + losses[0] + ties[0]
    # concat to the dataframe

    df_tmp = (
        pd.Series(
            {
                "Year": name,
                "Teams": teams,
                "Wins": wins,
                "Losses": losses,
                "Ties": ties,
                "#Games": ngames,
            }
        )
        .to_frame()
        .T
    )
    df_mlb_data = pd.concat([df_mlb_data, df_tmp])

In [5]:
# Save the data
df_mlb_data.to_parquet("../../prepared_data/MLB_data.parquet", index=False)