In [37]:
import pandas as pd
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read the data
df_nba = pd.read_parquet('../NBA.parquet')
df_nfl = pd.read_parquet('prepared_data/NFL.parquet')
df_mlb = pd.read_parquet('prepared_data/MLB.parquet')

In [3]:
df_nba

,Year,Teams,Wins,Losses,Ties,Points,N
0,1946,"[Boston Celtics, New York Knicks, Philadelphia...","[22, 33, 35]","[38, 27, 25]","[0.0, 0.0, 0.0]","[22, 33, 35]",60.0
1,1947,"[Boston Celtics, New York Knicks, Philadelphia...","[20, 26, 27]","[28, 22, 21]","[0.0, 0.0, 0.0]","[20, 26, 27]",48.0
2,1948,"[Boston Celtics, New York Knicks, Fort Wayne P...","[25, 32, 22, 28, 45, 44]","[35, 28, 38, 32, 15, 16]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[25, 32, 22, 28, 45, 44]",60.0
3,1949,"[Boston Celtics, New York Knicks, Syracuse Nat...","[22, 40, 51, 40, 26, 51, 51, 29]","[46, 28, 13, 28, 42, 17, 17, 35]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[22, 40, 51, 40, 26, 51, 51, 29]",68.0
4,1950,"[Boston Celtics, New York Knicks, Syracuse Nat...","[39, 36, 32, 32, 40, 41, 44, 25]","[30, 30, 34, 36, 26, 27, 24, 43]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[39, 36, 32, 32, 40, 41, 44, 25]",69.0
...,...,...,...,...,...,...,...
67,2013,"[Boston Celtics, Toronto Raptors, New York Kni...","[25, 48, 37, 19, 44, 40, 59, 36, 54, 25, 33, 2...","[57, 34, 45, 63, 38, 42, 23, 46, 28, 57, 49, 5...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[25, 48, 37, 19, 44, 40, 59, 36, 54, 25, 33, 2...",82.0
68,2014,"[Boston Celtics, Toronto Raptors, New York Kni...","[40, 49, 17, 18, 38, 16, 45, 30, 51, 38, 53, 3...","[42, 33, 65, 64, 44, 66, 37, 52, 31, 44, 29, 5...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[40, 49, 17, 18, 38, 16, 45, 30, 51, 38, 53, 3...",82.0
69,2015,"[Boston Celtics, Toronto Raptors, New York Kni...","[48, 56, 32, 10, 21, 29, 55, 33, 44, 40, 57, 4...","[34, 26, 50, 72, 61, 53, 27, 49, 38, 42, 25, 3...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[48, 56, 32, 10, 21, 29, 55, 33, 44, 40, 57, 4...",82.0
70,2016,"[Boston Celtics, Toronto Raptors, New York Kni...","[53, 51, 31, 28, 20, 31, 47, 40, 41, 51, 51, 3...","[29, 31, 51, 54, 62, 51, 35, 42, 41, 31, 31, 4...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[53, 51, 31, 28, 20, 31, 47, 40, 41, 51, 51, 3...",82.0
71,2017,"[Boston Celtics, Toronto Raptors, New York Kni...","[29, 24, 17, 15, 13, 22, 20, 19, 18, 15, 24, 1...","[10, 10, 18, 19, 22, 14, 16, 16, 16, 21, 11, 1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[29, 24, 17, 15, 13, 22, 20, 19, 18, 15, 24, 1...",39.0

In [4]:
Counter(df_nba["N"])

Counter({60.0: 2,
         48.0: 1,
         68.0: 1,
         69.0: 1,
         66.0: 2,
         71.0: 1,
         72.0: 6,
         75.0: 1,
         79.0: 1,
         80.0: 5,
         81.0: 2,
         82.0: 47,
         50.0: 1,
         39.0: 1})

In [5]:
df_nba[df_nba["N"]!=82]

,Year,Teams,Wins,Losses,Ties,Points,N
0,1946,"[Boston Celtics, New York Knicks, Philadelphia...","[22, 33, 35]","[38, 27, 25]","[0.0, 0.0, 0.0]","[22, 33, 35]",60.0
1,1947,"[Boston Celtics, New York Knicks, Philadelphia...","[20, 26, 27]","[28, 22, 21]","[0.0, 0.0, 0.0]","[20, 26, 27]",48.0
2,1948,"[Boston Celtics, New York Knicks, Fort Wayne P...","[25, 32, 22, 28, 45, 44]","[35, 28, 38, 32, 15, 16]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[25, 32, 22, 28, 45, 44]",60.0
3,1949,"[Boston Celtics, New York Knicks, Syracuse Nat...","[22, 40, 51, 40, 26, 51, 51, 29]","[46, 28, 13, 28, 42, 17, 17, 35]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[22, 40, 51, 40, 26, 51, 51, 29]",68.0
4,1950,"[Boston Celtics, New York Knicks, Syracuse Nat...","[39, 36, 32, 32, 40, 41, 44, 25]","[30, 30, 34, 36, 26, 27, 24, 43]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[39, 36, 32, 32, 40, 41, 44, 25]",69.0
5,1951,"[Boston Celtics, New York Knicks, Syracuse Nat...","[39, 37, 40, 29, 33, 41, 40, 17]","[27, 29, 26, 37, 33, 25, 26, 49]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[39, 37, 40, 29, 33, 41, 40, 17]",66.0
6,1952,"[Boston Celtics, New York Knicks, Syracuse Nat...","[46, 47, 47, 36, 12, 44, 48, 27]","[25, 23, 24, 33, 57, 26, 22, 44]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[46, 47, 47, 36, 12, 44, 48, 27]",71.0
7,1953,"[Boston Celtics, New York Knicks, Syracuse Nat...","[42, 44, 42, 40, 29, 44, 46, 21]","[30, 28, 30, 32, 43, 28, 26, 51]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[42, 44, 42, 40, 29, 44, 46, 21]",72.0
8,1954,"[Boston Celtics, New York Knicks, Syracuse Nat...","[36, 38, 43, 43, 33, 29, 40, 26]","[36, 34, 29, 29, 39, 43, 32, 46]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[36, 38, 43, 43, 33, 29, 40, 26]",72.0
9,1955,"[Boston Celtics, New York Knicks, Syracuse Nat...","[39, 35, 35, 37, 45, 31, 33, 33]","[33, 37, 37, 35, 27, 41, 39, 39]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[39, 35, 35, 37, 45, 31, 33, 33]",72.0
10,1956,"[Boston Celtics, New York Knicks, Syracuse Nat...","[44, 36, 38, 34, 37, 31, 34, 34]","[28, 36, 34, 38, 35, 41, 38, 38]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[44, 36, 38, 34, 37, 31, 34, 34]",72.0
11,1957,"[Boston Celtics, New York Knicks, Syracuse Nat...","[49, 35, 41, 33, 37, 33, 19, 41]","[23, 37, 31, 39, 35, 39, 53, 31]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[49, 35, 41, 33, 37, 33, 19, 41]",72.0
12,1958,"[Boston Celtics, New York Knicks, Syracuse Nat...","[52, 40, 35, 28, 32, 19, 33, 49]","[20, 32, 37, 44, 40, 53, 39, 23]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[52, 40, 35, 28, 32, 19, 33, 49]",72.0
13,1959,"[Boston Celtics, New York Knicks, Syracuse Nat...","[59, 27, 45, 30, 49, 19, 25, 46]","[16, 48, 30, 45, 26, 56, 50, 29]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[59, 27, 45, 30, 49, 19, 25, 46]",75.0
14,1960,"[Boston Celtics, New York Knicks, Syracuse Nat...","[57, 21, 38, 34, 46, 33, 36, 51]","[22, 58, 41, 45, 33, 46, 43, 28]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[57, 21, 38, 34, 46, 33, 36, 51]",79.0
15,1961,"[Boston Celtics, New York Knicks, Syracuse Nat...","[60, 29, 41, 37, 49, 43, 54, 18, 29]","[20, 51, 39, 43, 31, 37, 26, 62, 51]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[60, 29, 41, 37, 49, 43, 54, 18, 29]",80.0
16,1962,"[Boston Celtics, New York Knicks, Syracuse Nat...","[58, 21, 48, 34, 31, 42, 53, 25, 48]","[22, 59, 32, 46, 49, 38, 27, 55, 32]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[58, 21, 48, 34, 31, 42, 53, 25, 48]",80.0
17,1963,"[Boston Celtics, New York Knicks, Philadelphia...","[59, 22, 34, 23, 48, 55, 42, 31, 46]","[21, 58, 46, 57, 32, 25, 38, 49, 34]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[59, 22, 34, 23, 48, 55, 42, 31, 46]",80.0
18,1964,"[Boston Celtics, New York Knicks, Philadelphia...","[62, 31, 40, 31, 17, 48, 49, 37, 45]","[18, 49, 40, 49, 63, 32, 31, 43, 35]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[62, 31, 40, 31, 17, 48, 49, 37, 45]",80.0
19,1965,"[Boston Celtics, New York Knicks, Philadelphia...","[54, 30, 55, 22, 35, 45, 45, 38, 36]","[26, 50, 25, 58, 45, 35, 35, 42, 44]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[54, 30, 55, 22, 35, 45, 45, 38, 36]",80.0
20,1966,"[Boston Celtics, New York Knicks, Philadelphia...","[60, 36, 68, 30, 33, 44, 39, 36, 20, 39]","[21, 45, 13, 51, 48, 37, 42, 45, 61, 42]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[60, 36, 68, 30, 33, 44, 39, 36, 20, 39]",81.0
52,1998,"[Boston Celtics, Toronto Raptors, New York Kni...","[19, 23, 27, 28, 16, 25, 25, 14, 35, 37, 22, 2...","[31, 27, 23, 22, 34, 25, 25, 36, 15, 13, 28, 2...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[19, 23, 27, 28, 16, 25, 25, 14, 35, 37, 22, 2...",50.0
65,2011,"[Boston Celtics, Toronto Raptors, New York Kni...","[39, 23, 36, 35, 22, 26, 47, 38, 28, 36, 21, 2...","[27, 43, 30, 31, 44, 40, 19, 28, 38, 30, 45, 4...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[39, 23, 36, 35, 22, 26, 47, 38, 28, 36, 21, 2...",66.0
66,2012,"[Boston Celtics, Toronto Raptors, New York Kni...","[41, 34, 54, 34, 49, 31, 60, 57, 33, 43, 24, 2...","[40, 48, 28, 48, 33, 51, 22, 25, 49, 39, 58, 5...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[41, 34, 54, 34, 49, 31, 60, 57, 33, 43, 24, 2...",81.0
71,2017,"[Boston Celtics, Toronto Raptors, New York Kni...","[29, 24, 17, 15, 13, 22, 20, 19, 18, 15, 24, 1...","[10, 10, 18, 19, 22, 14, 16, 16, 16, 21, 11, 1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[29, 24, 17, 15, 13, 22, 20, 19, 18, 15, 24, 1...",39.0

In [6]:
tmp=df_nba[df_nba["Year"]==2012]
ls = zip(tmp["Teams"].values[0],tmp["Wins"].values[0])
for i,j in ls:
    print(i,j)

Boston Celtics 41
Toronto Raptors 34
New York Knicks 54
Philadelphia 76ers 34
Brooklyn Nets 49
Minnesota Timberwolves 31
Oklahoma City Thunder 60
Denver Nuggets 57
Portland Trail Blazers 33
Utah Jazz 43
Cleveland Cavaliers 24
Detroit Pistons 29
Milwaukee Bucks 38
Indiana Pacers 49
Chicago Bulls 45
Golden State Warriors 47
Los Angeles Clippers 56
Phoenix Suns 25
Sacramento Kings 28
Los Angeles Lakers 45
Washington Wizards 29
Miami Heat 66
Charlotte Bobcats 21
Orlando Magic 20
Atlanta Hawks 44
Houston Rockets 45
San Antonio Spurs 58
New Orleans Hornets 27
Dallas Mavericks 41
Memphis Grizzlies 56

# Visualiziations

In [41]:
df_nfl_filtered = df_nfl[df_nfl["N"]>10]
df_nfl_filtered["#Teams"] = df_nfl_filtered["Teams"].apply(lambda x: len(x))
#df_nfl_filtered = df_nfl_filtered[df_nfl_filtered["#Teams"]>=30]
df_nfl_filtered["Var"] = df_nfl_filtered["Points"].apply(lambda x: np.var(x))
nfl_points = df_nfl_filtered["Points"].values

In [1]:
df_nba_filtered = df_nba[df_nba["N"]>80]
df_nba_filtered["#Teams"] = df_nba_filtered["Teams"].apply(lambda x: len(x))
#df_nba_filtered = df_nba_filtered[df_nba_filtered["#Teams"]>=30]
df_nba_filtered["Var"] = df_nba_filtered["Points"].apply(lambda x: np.var(x))
nba_points = df_nba_filtered["Points"].values
plt.hist(nba_points[-1],bins=20)
#plt.hist(nba_points[-2],bins=20)

NameError: name 'df_nba' is not defined

In [35]:
counters = [Counter(x) for x in nba_points]

In [31]:
[len(x) for x in nba_points]

[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30]

In [50]:
(82*0.25)/df_nba_filtered[-10:]["Var"].mean()

0.1256975532920155

In [51]:
(16*0.25)/df_nfl_filtered["Var"].mean()

0.4202438777818965

In [53]:
s = np.random.binomial(16, 0.5, 1000)

In [56]:
res = np.zeros((30,30))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])