In [2]:
import pandas as pd
import numpy as np

# Load Data

In [4]:
df = pd.read_csv("../../raw_data/MLS/MLS_scrapped.csv")
df.head()

   GP   W  D   L   F   A  GD   P                         Team  Year  PPG
0  30  15  8   7  53  43  10  53        1 CHI Chicago Fire FC  2003  NaN
1  30  12  9   9  55  47   8  45  2 NE New England Revolution  2003  NaN
2  30  11  9  10  40  40   0  42      3 NY New York Red Bulls  2003  NaN
3  30  10  9  11  38  36   2  39             4 DC D.C. United  2003  NaN
4  30  10  8  12  44  44   0  38          5 CLB Columbus Crew  2003  NaN

## Format of the data:

- Wins per Team per Season from 2003/04 up to 2022
- We only need Year, Team, W, L, D columns

## Preprocessing

## Create new dataframe with desired output

In [5]:
df_mls_data = pd.DataFrame(
    columns=["Year", "Teams", "Wins", "Losses", "Ties", "#Games"]
)

In [6]:
grouped = df.groupby("Year")

for name, group in grouped:
    teams = group["Team"].tolist()
    wins = group["W"].tolist()
    losses = group["L"].tolist()
    ties = group["D"].tolist()

    ngames = wins[0] + losses[0] + ties[0]
    # concat to the dataframe

    df_tmp = (
        pd.Series(
            {
                "Year": name,
                "Teams": teams,
                "Wins": wins,
                "Losses": losses,
                "Ties": ties,
                "#Games": ngames,
            }
        )
        .to_frame()
        .T
    )
    df_mls_data = pd.concat([df_mls_data, df_tmp])

In [7]:
# Save the data
df_mls_data.to_parquet("../../prepared_data/MLS_data.parquet", index=False)