In [2]:
import pandas as pd
import numpy as np

# Load Data

In [3]:
df = pd.read_csv("../../raw_data/NHL/NHL_scrapped.csv")
df.head()

,GP,W,L,OTL,PTS,ROW,SOW,SOL,HOME,AWAY,GF,GA,DIFF,L10,STRK,Team,Year,RW
0,82,58,16,8,124,58,0,0,27-9-5,31-7-3,305,209,96,8-1-1,L1,*-z -- DET Detroit Red Wings,2005,NaN
1,82,52,21,9,113,52,0,0,29-9-3,23-12-6,314,211,103,3-5-2,W1,y -- OTT Ottawa Senators,2005,NaN
2,82,53,23,6,112,53,0,0,28-11-2,25-12-4,265,218,47,4-3-3,L2,y -- DAL Dallas Stars,2005,NaN
3,82,52,22,8,112,52,0,0,31-8-2,21-14-6,294,260,34,5-3-2,L2,y -- CAR Carolina Hurricanes,2005,NaN
4,82,52,24,6,110,52,0,0,27-11-3,25-13-3,281,239,42,7-3-0,W5,x -- BUF Buffalo Sabres,2005,NaN

## Format of the data:

- Wins per Team per Season from 2005/06 up to 2021
- We only need Year, Team, W, L, OTL columns

In the 2014-15 NHL Season OTL (Overtime Losses) were counted twice. Once as Losses and then seperately as OTL. In Order to adjust this to the other seasons it is necessary to subtract the OTL losses from the losses for the 2014-15 Season.

## Preprocessing

## Create new dataframe with desired output

In [30]:
df_nhl_data = pd.DataFrame(columns=["Year", "Teams", "Wins", "Losses", "Ties", "#Games"])

In [31]:
grouped = df.groupby('Year')

for year, group in grouped:
    teams = group['Team'].tolist()
    wins = group['W'].tolist()
    losses = group['L'].tolist()
    ties = group['OTL'].tolist()

    if year == 2014:
        losses = [x-y for x,y in zip(losses, ties)]

    ngames = wins[0]+losses[0]+ties[0]
    # concat to the dataframe

    df_tmp = pd.Series({"Year": year, "Teams": teams, "Wins": wins, "Losses": losses, "Ties": ties, "#Games": ngames}).to_frame().T
    df_nhl_data = pd.concat([df_nhl_data ,df_tmp])

In [32]:
# Save the data
df_nhl_data.to_parquet("../../prepared_data/NHL_data.parquet", index=False)