In [1]:
import pandas as pd
import numpy as np

# Load Data

In [2]:
df = pd.read_csv("../../raw_data/PML/PML_scrapped.csv")
df.head()

   GP   W   D   L   F   A  GD   P                     Team  Year
0  38  26  12   0  73  26  47  90            1 ARS Arsenal  2003
1  38  24   7   7  67  30  37  79            2 CHE Chelsea  2003
2  38  23   6   9  64  35  29  75  3 MAN Manchester United  2003
3  38  16  12  10  55  37  18  60          4 LIV Liverpool  2003
4  38  13  17   8  52  40  12  56   5 NEW Newcastle United  2003

## Format of the data:

- Wins per Team per Season from 2003/04up to 2021
- We only need Year, Team, W, D, L columns

## Preprocessing

## Create new dataframe with desired output

In [3]:
df_pml_data = pd.DataFrame(columns=["Year", "Teams", "Wins", "Losses", "Ties", "#Games"])

In [4]:
grouped = df.groupby('Year')

for year, group in grouped:
    teams = group['Team'].tolist()
    wins = group['W'].tolist()
    losses = group['L'].tolist()
    ties = group['D'].tolist()

    ngames = wins[0]+losses[0]+ties[0]
    # concat to the dataframe

    df_tmp = pd.Series({"Year": year, "Teams": teams, "Wins": wins, "Losses": losses, "Ties": ties, "#Games": ngames}).to_frame().T
    df_pml_data = pd.concat([df_pml_data ,df_tmp])

In [5]:
# Save the data
df_pml_data.to_parquet("../../prepared_data/PML_data.parquet", index=False)